@using eComics.Data.ViewModels;

@model BookVM;

<div class="mt-2" style="width:75%">
    <div class="row col-md-12 offset-2">
        <h2>Comic Books</h2>
        <form asp-action="Index" style="margin-bottom: 30px">
            <div class="row">
                <div class="col-md-3">
                    <input name="term" class="form-control" placeholder="Search book by name" />
                </div>
                <div class="col-md-1">
                    <button type="submit" class="btn btn-outline-success"><i class="bi bi-search"></i>Search</button>                   
                </div>
                <div class="col-sm-1 text-center" style="padding-top: 5px;">
                    <h5><a class="text-black text-center" style="text-decoration: none; margin-right: 60px;" href="/Books/Index?orderBy=@Model.NameSortOrder">Sort</a></h5>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="row">
    @foreach (var item in Model.Books)
    {
        <div class="col-md-4 col-xs-6 border-primary mb-3">
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row g-0">
                    <div class="col-md-12">
                        <div class="card-header text-white bg-primary">
                            <p class="card-text">
                                <h5 class="card-title">
                                    @item.Title
                                    <a class="text-white float-end" asp-action="Edit" asp-route-id="@item.Id"><i class="bi bi-pencil-square"></i></a>
                                </h5>
                            </p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <img src="@item.ImageURL" width="100%" alt="@item.Title">
                    </div>
                    <div class="col-md-6">
                        <div class="card-body">
                            <p class="card-text">@item.Description</p>
                            <p class="card-text"><b>Category: </b>@item.BookGenre</p>
                            <p class="card-text"><b>Publisher: </b>
                                <a asp-controller="Publishers" asp-action="PublishersBooks" asp-route-id="@item.Publisher.Id">@item.Publisher.Name</a>
                            </p>
                            <p class="card-text"><b>Release Date: </b>@item.ReleaseDate.ToString("dd MMM yy")</p>
                            <p class="card-text">
                                <b>Status: </b>
                                @if (DateTime.Now >= item.ReleaseDate)
                                {
                                    <span class="badge bg-success text-white">AVAILABLE</span>
                                }
                                else
                                {
                                    <span class="badge bg-primary text-white">UPCOMING</span>
                                }
                            </p>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="card-footer">
                            <p class="card-text">
                                <a class="btn btn-outline-primary" asp-controller="Books" asp-action="Details" asp-route-id="@item.Id">
                                    <i class="bi bi-eye-fill"></i>Show Details
                                </a>
                                <a class="btn btn-success text-white float-end" asp-controller="Orders" asp-action="AddItemToShoppingCart" asp-route-id="@item.Id">
                                    <i class="bi bi-cart-plus"></i>Add to Cart (Price @item.Price.ToString("C"))
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>



<div class="col-md-6 offset-6">
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            @if (Model.CurrentPage > 1)
            {
                <li class="page-item">
                    <a class="page-link" href="/Books/Index?term=@Model.Term&orderBy=@Model.OrderBy&currentPage=@(Model.CurrentPage-1)" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
            }
            @for (int i = 1; i <= Model.TotalPages; i++)
            {
                if (i == Model.CurrentPage)
                {
                    <li class="page-item active"><a class="page-link" href="/Books/Index?term=@Model.Term&orderBy=@Model.OrderBy&currentPage=@i">@i</a></li>
                }
                else
                {
                    <li class="page-item"><a class="page-link" href="/Books/Index?term=@Model.Term&orderBy=@Model.OrderBy&currentPage=@i">@i</a></li>
                }

            }
            @if (Model.CurrentPage < Model.TotalPages)
            {
                <li class="page-item">
                    <a class="page-link" href="/Books/Index?term=@Model.Term&orderBy=@Model.OrderBy&currentPage=@(Model.CurrentPage+1)" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            }
        </ul>
    </nav>
</div>

@await Html.PartialAsync("_CreateItem","Books");


